__pycache__/
*.py[cod]

.DS_Store
.env
.venv/
venv/

.codex

input_pdfs/
pdf/

converted_markdown/
converted_markdown_grobid/
converted_markdown_nougat_ocr/
converted_markdown_science_parse/
converted_science_parse/

libs/*.jar

v2/

backup_local/
